@font-face {
   font-family: 'Euclid Circular A Bold';
   font-display: swap;
   src: url('Euclid Circular A Bold/font.ttf');
}
@font-face {
   font-family: 'Euclid Circular A SemiBold';
   font-display: swap;
   src: url('Euclid Circular A SemiBold/font.ttf');
}
@font-face {
   font-family: 'Euclid Circular A Medium';
   font-display: swap;
   src: url('Euclid Circular A Medium/font.ttf');
}
@font-face {
   font-family: 'Euclid Circular A Regular';
   font-display: swap;
   src: url('Euclid Circular A Regular/font.ttf');
}
