@font-face {
   font-family: 'Euclid Circular A Medium';
   font-display: swap;
   src: url('file:///C:/Users/AGUS/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-24_132020/fonts/Euclid%20Circular%20A%20Medium/font.ttf');
}
